{% extends "base.html" %}
{% block content %}
<div class="panel panel-default" style = "margin-left: 10%; margin-right: 10%">
    <div class="panel-heading">{{ base["form_caption"] }}</div>
    <div class="panel-body">
        <form role="form" method="post">
          {% for item in items %}
            <div>
              {% set decode_function = decode[loop.index0] %}
              {% if item['type'] == 'select' %}
                <select name="{{ item['name'] }}">
                  {% for value in item['values'] %}
                    <option value="{{ value['id'] }}">{{ decode_function(value['name']) if value['name'] is not none }}</option>
                  {% endfor %}
                </select>
              {% else %}
               <input 
                type = "{{ item['type'] }}"
                id = "{{ item['id']}}"
                name = "{{ item['name'] }}"
                placeholder = "{{ item['placeholder'] }}"
                {% if "value" in item %}
                value = "{{ decode_function(item['value']) if item['value'] is not none }}"
                {% endif %}
                {% if item.get('readonly', False) %}
                readonly
                {% endif %}
                {% if item.get('hidden', False) %}
                hidden
                {% endif %}
                {% if item.get('disabled', False) %}
                disabled
                {% endif %}
                required>
              {% endif %}
            </div><br>
          {% endfor %}
            <button type="submit" class="btn btn-default">Принять</button>
            <button type="reset" class="btn btn-default">Сброс</button>
            <a class="btn btn-default" href="{{ request.url_root }}{{ base['name'] }}" role="button">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}