{% extends "base.html" %}
{% block title %}
<h1>
    {% if title %}
        {{title}}
    {% else %}
        Файловое хранилище
    {% endif %}
</h1>
<hr>
{% endblock %}
{% block content %}
{% if files %}
<div class="list-group" style = "margin-left: 1%; margin-right: 1%">
        {% for file in files %}
            <a href="{{ url_for('load', fid = file[0]) }}" class="list-group-item"><h4>{{ file[1].decode('utf-8') }}</h4> (размер: {{ file[2] }} байт)</a>
        {% endfor %}
</div>
{% endif %}
{% endblock %}