{% extends "base.html" %}
{% block title %}
  <h1>
    {% if title %}
      {{title}}
    {% endif %}
  </h1>
  <hr>
{% endblock %}
{% block content %}
<div>
  
</div>
<div id="data_table" style = "margin-left: 1%; margin-right: 1%">
{% if data %}
  <table class="table">
    {% if header %}
      <tr>
      {% for col_name in header %}
        <th>{{ col_name }}</th>
      {% endfor %}
      </tr>
    {% endif %}
    {% for row in data %}
    <tr id="{{row[0]}}" class="table-context-menu">
      {% for item in row %}
      <td> {{ item }} </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% endif %}
</div>
{% endblock %}